#outlined-basic{
    margin-left: 2px;
}
.mui-btn{

    width: 33px;
    margin-left: 35px;
}
.MuiButtonBase-root{
    margin-top: 9px;
}
@media screen and (max-width: 599px) {
    .input-class{
        display: flex;
        justify-content: center;
    }
}
